## first Task


print('hello')

In [3]:
country= 'pakistan'
print(country)

pakistan

In [4]:
country.capitalize

In [5]:
country.count

In [7]:
country.isidentifier()

True

In [9]:
country.split('s')

['paki', 'tan']

In [16]:
country.join(' hello')

' pakistanhpakistanepakistanlpakistanlpakistano'

In [17]:
country.join('hello')

'hpakistanepakistanlpakistanlpakistano'

In [19]:
country.replace('m')

TypeError: replace() takes at least 2 arguments (1 given)

In [20]:
country.replace('t,M')

TypeError: replace() takes at least 2 arguments (1 given)

In [2]:
city='karachi'
city.index(0)

TypeError: must be str, not int

In [3]:
city.index('k')

0

In [1]:
record1 = {}
type(record1)

dict

In [2]:
record2 = {"Mobile":30000, "accesorries":15000, "Connectivity":5000}

In [3]:
len(record2)

3

In [9]:
record2['Mobile']

30000

In [10]:
del record2['Mobile']

# Delete item
    -Pop
    -Pop item"bag"ValidationValidation
    -del

In [13]:
record2.pop('Connectivity')

5000

In [14]:
record2.popitem()

('accesorries', 15000)

In [15]:
record2

{}

In [16]:
record2["name"] = "Adeel"

In [17]:
record2

{'name': 'Adeel'}

# value update in the space
    temp_dic

In [18]:
temp_dic = {1:"adeel", 2:"mannan"}

In [19]:
temp_dic

{1: 'adeel', 2: 'mannan'}

In [20]:
temp_dic[2][1]

'a'

In [25]:
sales = {
    "Items"    : ["Cell", "TV", "laptop"],
    "Sales_man": ["Ali", "Wasif", "Khurram"],
    "Quantity" : [5,10,20],
    "Price"    : [30000,25000,15000]
        }

In [22]:
import pandas as pd

In [26]:
pd.DataFrame(sales)

    Items Sales_man  Quantity  Price
0    Cell       Ali         5  30000
1      TV     Wasif        10  25000
2  laptop   Khurram        20  15000

In [27]:
record1

{}

In [28]:
record1.fromkeys()

TypeError: fromkeys expected at least 1 arguments, got 0

In [29]:
record1.update({"contact":"987654321", "address":"Khi"})

In [30]:
recrod1

NameError: name 'recrod1' is not defined

In [31]:
record1

{'contact': '987654321', 'address': 'Khi'}

In [32]:
record1.setdefault("iamdefault")

In [33]:
record1

{'contact': '987654321', 'address': 'Khi', 'iamdefault': None}

In [34]:
d = dict([
    ("foo",100)
])

In [35]:
d

{'foo': 100}

In [36]:
d = {
    ("foo", 100)
}

In [37]:
d

{('foo', 100)}

In [38]:
x = [
    'a',
    'b',
    {
        'foo': 1,
        'bar':
        {
            'x' : 10,
            'y' : 20,
            'z' : 30
        },
        'baz': 3
    },
    'c',
    'd'
]

In [39]:
x

['a', 'b', {'foo': 1, 'bar': {'x': 10, 'y': 20, 'z': 30}, 'baz': 3}, 'c', 'd']

In [40]:
aset = {1,1,2,3}
aset

{1, 2, 3}

In [41]:
bset = {}

In [42]:
aset.add(5)

In [43]:
aset

{1, 2, 3, 5}

In [44]:
aset.issubset(bset)

False

In [7]:
import random
guess = int(input("Enter your guess number 1-10"))
num = random.randint(1,10)
if guess == num:
    print(f"you guessed {guess} you win!")
else:
    print(f"you guessed {guess} but luck number was {num}. Try Again!")

Enter your guess number 1-105
you guessed 5 but luck number was 8. Try Again!

In [9]:
name = input('Name: ')
print(f'My name is {name}')

Name: Adeel
My name is Adeel

In [10]:
budget = int(input("Enter your budget "))
if budget <= 100:
    print(f"you can buy 1 kg meat")
else:
    print(f"you can buy 12 eggs")

Enter your budget90
you can buy 1 kg meat

In [ ]:
budget = int(input("Enter your budget "))
if budget >=1000:
    print(f"you can buy 1 kg meat")
elif budget >=200:
    print(f"you can buy 12 eggs")
else:
    print("Roza")

In [ ]:
Salary = int(input("Enter Your Salary "))
YoS = float(input("How many years you served for the company "))
if YoS >= 15:
    bonus = Salary*0.15
elif YoS >= 10:
    bonus = Salary*0.10
elif YoS >= 5:
    bonus = Salary*0.05
else:
    bonus = Salary*0
print (Salary)
print (bonus)
print (Salary+bonus)

In [1]:
unit = int(input("Enter the consumed units of electricity  "))
if unit <= 100:
    unit_price = unit*5
elif unit <= 300:
    unit_price = 100*5 + (unit-100)*10
else:
    unit_price = 100*5 + 200*10 + (unit-300)*15

print(f"Your bill is {unit_price}")

Enter the consumed units of electricity  120
Your bill is 700